html {
  background-image: url(https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/entrance_background.jpg);
  background-size: 1920px 1200px;
}

body {
  height:100%;
}

#logo {
  margin-top: 50px;
  margin-bottom: 100px;
  height: 100%;
  position: relative;
  text-align: center;
}

#test{
  text-align: center;
}

#lostButton {
  border: 1px solid white;
  height: 550px;
  width: 400px;
  display: inline-block;
}

#foundButton {
  border: 1px solid white;
  height: 550px;
  width: 400px;
  display: inline-block;
  margin-left: 100px;
}
