html {
  background-image: url(https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/entrance_background.jpg);
  background-size: 1920px 1200px;

}

body {
  height:100%;
}

#logo {
  margin-top: 50px;
  margin-bottom: 100px;
  height: 100%;
  position: relative;
  text-align: center;
}

#button_container{
  position: relative;
  text-align: center;
}

#lostButton {
  background-image:url("https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/old_paper.jpg");
  background-size:cover;
  height: 550px;
  width: 400px;
  display: inline-block;
}

#foundButton {
  background-image:url("https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/old_paper.jpg");
  background-size:cover;
  height: 550px;
  width: 400px;
  display: inline-block;
  margin-left: 10%;
}

#lost_no{
    display:none;
}

#found_o{
    display:none;
}

.words{
    float:left;
    position:absolute;
    margin-top: 15%;
}

