body {
  background-image: url("../image/background.jpg");
  background-size: 1920px 1200px;
}

#logo {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
}

#button_container{
}

#lostButton {
  background-color: rgba(0, 0, 0, 0.5);
  height: 550px;
}

#foundButton {
  background-color: rgba(0, 0, 0, 0.5);
  height: 550px;
}

#lost_no{
    display:none;
}

#found_o{
    display:none;
}

.words{
    float:left;
    position:absolute;
    margin-top: 15%;
}
