#titleContainer {
  background-color: rgba(255, 255, 255, 0.7);
  height: 90px;
  margin-top: 1em;
  padding: 1em;
}

#titleContainer h1 {
  margin-top: 12px;
}

body {
  background-image: url("../image/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

p {
  display: inline-block;
  margin: 0;
}

.item {
  padding: 0.5em;
}

.item a {
  color: white;
}

.item p {
  font-size: 1.5em;
}

.item h1 {
  font-size: 2.5em;
}

.item > div {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0px #777777;
  color: white;
}

.imgContainer {
  text-align: center;
}

.imgContainer img {
  display: inline-block;
}

.container {
  margin-top: 0em;
}

#floatImageContainer {
  position: fixed;
  display: none;
  border: 3px solid black;
  border-radius: 3px;
}

#mainContainer {
  background-image: url("../image/div_background.jpg");
  background-size: 100%;
  margin-top: 1em;
}
