html {
  background-image: url(https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/entrance_background.jpg);
  background-size: 1920px 1200px;
}

body{
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#left_page{
  background-color: black;
  left: -100%;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index:1;
}

#right_page{
  background-color: black;
  right: -100%;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index:1;
}

#button_container{
  position: relative;
  text-align: center;
  width: inherit;
}

#lostButton {
  background-image:url("https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/old_paper.jpg");
  background-size:cover;
  height: 550px;
  width: 400px;
  display: inline-block;
}

#foundButton {
  background-image:url("https://raw.githubusercontent.com/t01090929/Midterm-Web-Design/master/image/old_paper.jpg");
  background-size:cover;
  height: 550px;
  width: 400px;
  display: inline-block;
  margin-left: 10%;
}

#text_in_left{
    color: white;
    font-size: 20px;
}
#text_in_right{
    color: white;
    font-size: 20px;
}