html{
}
body{
  width:1280px;
  height: 1653px;
  margin: 0 0 0 0 ;
}



/*exp area*/
textarea {
    resize: none;
}

#imageContainer {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

#imageContainer img {
  height: 100%;
  width: 100%;
}

#entries {
  background-color: #B2DFDB;
  text-align: center;
}

#loading {
  display: none;
}

#loading img {
  height: 100%;
  width: 100%;
}
